<template name="footer">
  <section class="container">
      <div class="row">
          <section class="container">
              <div id="master-foot" class="row add-top-main">
  
                  <section class="col-md-4 outer-wrap">
                      <div class="story">
                          <p class="credit-txt text-left"><a class="foot-logo" target="_blank" href="http://www.designova.net">Mayday RED</a></p>
                      </div> 
                  </section>
  
                  <section class="col-md-8 outer-wrap">
                      <div class="story">
                          <p class="credit-txt text-right">Copyright &copy; 2014 Mayday RED</p>
                      </div> 
                  </section>
                  
              </div>    
          </section>
      </div>
  </section>  
</template>  
 