template(name="footer")
    section.container
        div.row
            section.container
                div#master-foot.row.add-top-main
                    section.col-md-4.outer-wrap
                        div.story
                            p.credit-txt.text-left
                                a.foot-logo(target="_blank", href="") Mayday RED

                    section.col-md-8.outer-wrap
                        div.story
                            p.credit-txt.text-right Copyright &copy; 2014 Mayday RED

 
