#master-foot{
    padding-top: 20px;
    padding-bottom: 30px;
    background: #0a0a0a;
}
.credit-txt{
    color:#999;
    margin-top:18px;
    font-family:"Open_Sans_R";
    font-size:12px !important;
}
.credit-txt a{
    color:#fff;
}

.credit-txt a:hover{
    color:#8B0000;
}

.foot-logo{
    font-family: Rocket;
    font-size:36px;
    line-height:36px;
    font-weight:normal;
    color: #fff !important;
}
.foot-logo:hover{
    color: #8B0000 !important;
    text-decoration: none !important;
    cursor: pointer;
}
