template(name="navigation")
    // Mobile Only Navigation - 2 types each for (480px to 640px) and (640px to 960px) wide device screens --
    //
        header#mobile-header.clearfix.hidden-desktop
            div#nav
              ul
                li
                  a.scroll-link(href="#videos",data-soffset="0") Videos
                li
                  a.scroll-link(href="#band",data-soffset="0") Band
                li
                  a.scroll-link(href="#store",data-soffset="0") Store
                li
                  a.scroll-link(href="#contact-us",data-soffset="0") Contact Us

    img#nav-arrow.hidden-phone.hidden-tablet(src="images/nav-left.png",title="Mayday RED" alt="persona")

    ul#main-nav.visible-desktop
        li
            a(href="#videos",title="Next Section")
                //img#logo" src="images/logo.png" title="Mayday RED" alt="persona"
                div.filler
        
        li
            a#trigger-video.nav-link.scroll-link(href="#videos",data-soffset="0") Videos
            //a#trigger-video.nav-link.scroll-link(href="{{pathFor 'videos'}}",data-soffset="0") Videos
        
        li
            a#trigger-band.nav-link.scroll-link(href="#band",data-soffset="1") Band
            //a#trigger-band.nav-link.scroll-link(href="{{pathFor 'band'}}",data-soffset="1") Band
        
        li
            a#trigger-store.nav-link.scroll-link(href="#store",data-soffset="2") Store
            //a#trigger-store.nav-link.scroll-link(href="{{pathFor 'store'}}",data-soffset="2") Store
        
        li
            a#trigger-contact-us.nav-link.scroll-link(href="#contact-us",data-soffset="3") Contact Us
            //a#trigger-contact-us.nav-link.scroll-link(href="{{pathFor 'contact_us'}}",data-soffset="3") Contact Us
