#nav-arrow {
    display: none;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 99999;
}

#main-nav {
    width: 200px;
    list-style: none;
    position: fixed;
    right: 0px;
    height: 100%;
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 20px;
    z-index: 9999;
}

#main-nav li {
    margin: 0px;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 28px;
}

.nav-link {
    margin: 2px;
    color: #fff !important;
    font-family: Matchbook;
    font-size: 30px;
    text-decoration: none;
    background: #8B0000;
    padding: 4px 10px;
    border-bottom: solid 4px #c0c0c0;
}

.nav-link:hover, .nav-link:focus {
    text-decoration: none !important;
    font-size: 35px;
    background: #8D0000;
}

/* don't see these elements anymore */
/*
#full-arrow{
    display:none;
    position:fixed;
    z-index:999999 !important;
    cursor:pointer;
}
.arrow-off{
    display:none;
}
*/

.filler {
    height: 50px;
    width: 20px;
}

/* these don't appear to be used */
/*
#mobile-logo{
    margin-top:6px;
}
#mobile-nav{
    margin:8px 11px;

}
.mob-nav-link{
    font-size:20px;
    font-family:"Ostrich_Sans_Black";
    text-transform:uppercase;
    margin-right:15px;
    color:#000;
}
.mob-nav-link:hover{
    font-size:20px;
    font-family:"Ostrich_Sans_Black";
    text-transform:uppercase;
    margin-right:15px;
    color:#4AB7E4;
}
*/
