/* 02 - COLOR SWATCHES */
.pe-color-one{
    color: #e74c3c !important;
}
.pe-color-two{
    color: #3498db !important;
}
.pe-color-three{
    color: #2ecc71 !important;
}
.pe-color-four{
    color: #8e44ad !important;
}
.pe-bg-one{
    background: #e74c3c !important;
}
.pe-bg-two{
    background: #3498db !important;
}
.pe-bg-three{
    background: #2ecc71 !important;
}
.pe-bg-four{
    background: #8e44ad !important;
}
.pe-bg-five{
    background: #1abc9c !important;
}
.pe-bg-six{
    background: #f1c40f !important;
}
.pe-bg-seven{
    background: #E671B5 !important;
}
.pe-bg-eight{
    background: #E56C19 !important;
}
