@charset
utf-8

;

#header, #videos, #band {
    width: 100%;
}

.outer-wrap {
    padding: 0 85px 0 85px !important;
}

/*Inner*/
.main-heading {
    font-family: "Rocket";
    font-size: 50px;
    color: #8B0000;
    line-height: 50px;
    font-weight: normal;
}

.main-heading-alt {
    font-family: "Open_Sans_L";
    font-size: 24px;
    font-weight: normal !important;
}

.main-heading-alt > span {
    background: #4AB7E4;
    padding: 4px;
    color: #fff !important;
    padding-left: 10px;
    padding-right: 10px;
}

.main-heading-inner {
    font-family: "Rocket";
    background: transparent !important;
    color: #4AB7E4;
    font-size: 48px;
    line-height: 48px;
    font-weight: normal;
}

.main-heading-inner > span {
    font-family: "Rocket";
    background: transparent !important;
    color: #8B0000 !important;

    font-size: 148px;
    line-height: 148px;
    font-weight: normal;
}

.main-heading-inner-inv > span {
    font-family: "Rocket";
    background: transparent !important;
    color: #8B0000 !important;

    font-size: 148px;
    line-height: 148px;
    font-weight: normal;
}

.mayday-red-txt {
    color: #8B0000
}

.dark-txt {
    color: #171717 !important;
}

.light-txt {
    color: #f8f8f8 !important;
}

.white-txt {
    color: #fff !important;
}

.grey-txt {
    color: #888 !important;
}

.color-high {
    color: #4AB7E4 !important;
}

.color-dark {
    color: #0a0a0a !important;
}
