<template name="store">
    <section class="container page-layout">
        <div class="row add-top-main">

            <article id="fifth" class="col-md-12 outer-wrap">
                <div class="story">

                    <div class="row">
                        <article class="col-md-12 add-top">
                            <h2 class="main-heading-inner-inv"><span>Store</span></h2>
                        </article>
                    </div>

                    <section class="row add-bottom">
                        <p id="work-intro" class="col-md-12 medium-para mayday-red-txt pad-top pad-bottom">
                            Music, Apparel, and even a Mayday RED drink<br><br>  Enjoy!
                        </p>
                    </section>

                    <div class="row">
                        <article class="col-md-12">
                            <section id="options" class="clearfix">
                                <ul id="filters" class="option-set clearfix" data-option-key="filter">
                                    <li class="inner-link"><a class="store-link" href="#filter" data-option-value="*" class="selected">All</a></li>
                                    <li class="inner-link"><a class="store-link" href="#filter" data-option-value=".branding">Enjoy</a></li>
                                    <li class="inner-link"><a class="store-link" href="#filter" data-option-value=".web">Wear</a></li>
                                    <li class="inner-link"><a class="store-link" href="#filter" data-option-value=".ecommerce">Drink</a></li>
                                    <li class="inner-link store-tag">Mayday RED</li>
                                </ul>
                            </section> <!-- #options -->
                        </article><!-- col-md-12 : ends -->
                    </div><!-- row : ends -->

                    <div class="row">
                        <article class="col-md-12">

                            <div id="container" class="clearfix portfolio">

                                <div class="element web height-02 folio-item">
                                    <img alt="persona" title="persona" src="images/portfolio/p01.jpg"/>
                                    <a class="fancythumb" target="_blank" href="http://www.designova.net" title="Title Here"><div class="icon-link-sosa folio-trigger-icon"></div></a>
                                    <a href="images/portfolio/full/dummy.jpg" target="_blank" class="zoom-info" title="Title Here"><div class="icon-zoom-sosa folio-trigger-icon"></div></a>
                                    <h5 class="folio-subtitle titles">Caption</h5>
                                </div>

                                <div class="element branding height-01 folio-item">
                                    <img alt="persona" title="persona" src="images/portfolio/p02.jpg"/>
                                    <a class="fancythumb" target="_blank" href="http://www.designova.net" title="Title Here"><div class="icon-link-sosa folio-trigger-icon"></div></a>
                                    <a href="images/portfolio/full/dummy.jpg" target="_blank" class="zoom-info" title="Title Here"><div class="icon-zoom-sosa folio-trigger-icon"></div></a>
                                    <h5 class="folio-subtitle titles">Caption</h5>
                                </div>

                                <div class="element digital height-01 folio-item">
                                    <img alt="persona" title="persona" src="images/portfolio/p03.jpg"/>
                                    <a class="fancythumb" target="_blank" href="http://www.designova.net" title="Title Here"><div class="icon-link-sosa folio-trigger-icon"></div></a>
                                    <a href="images/portfolio/full/dummy.jpg" target="_blank" class="zoom-info" title="Title Here"><div class="icon-zoom-sosa folio-trigger-icon"></div></a>
                                    <h5 class="folio-subtitle titles">Caption</h5>
                                </div>

                                <div class="element print height-02 folio-item">
                                    <img alt="persona" title="persona" src="images/portfolio/p07.jpg"/>
                                    <a class="fancythumb" target="_blank" href="http://www.designova.net" title="Title Here"><div class="icon-link-sosa folio-trigger-icon"></div></a>
                                    <a href="images/portfolio/full/dummy.jpg" target="_blank" class="zoom-info" title="Title Here"><div class="icon-zoom-sosa folio-trigger-icon"></div></a>
                                    <h5 class="folio-subtitle titles">Caption</h5>
                                </div>

                                <div class="element creative height-02 folio-item">
                                    <img alt="persona" title="persona" src="images/portfolio/p04.jpg"/>
                                    <a class="fancythumb" target="_blank" href="http://www.designova.net" title="Title Here"><div class="icon-link-sosa folio-trigger-icon"></div></a>
                                    <a href="images/portfolio/full/dummy.jpg" target="_blank" class="zoom-info" title="Title Here"><div class="icon-zoom-sosa folio-trigger-icon"></div></a>
                                    <h5 class="folio-subtitle titles">Caption</h5>
                                </div>

                                <div class="element modern height-01 folio-item">
                                    <img alt="persona" title="persona" src="images/portfolio/p06.jpg"/>
                                    <a class="fancythumb" target="_blank" href="http://www.designova.net" title="Title Here"><div class="icon-link-sosa folio-trigger-icon"></div></a>
                                    <a href="images/portfolio/full/dummy.jpg" target="_blank" class="zoom-info" title="Title Here"><div class="icon-zoom-sosa folio-trigger-icon"></div></a>
                                    <h5 class="folio-subtitle titles">Caption</h5>
                                </div>
                            </div> <!-- #container -->

                        </article><!-- col-md-12 : ends -->
                    </div><!-- row : ends -->
                </div>
                <!--.story-->
            </article>
        </div>
    </section>
</template>