/* page colors */
.item_name, .item_price, .simpleCart_quantity, .simpleCart_total, .simpleCart_checkout, .store-text{
    color: #8B0000;
}

.spacer-xs {
  height: 1em;
}

.spacer-md {
  height: 15em;
}

#store {
    background: url(../images/bg/store.jpg) 50% 0 no-repeat fixed;
    color: white;
    min-height: 900px;
    padding-bottom: 60px !important;
}

#work-intro {
    font-family: Matchbook;
}

#work-block {
}

.work-item {
    height: 155px;
    padding: 2px;
}

.work-item .thumb {
}

.work-item-name {
    margin-top: 70%;
    color: #4AB7E4;
    font-family: "Nexa_Light";
}

.null-div {
    opacity: 0;
}

#work-filter {
}

.filter-button {
    color: #fff;
    font-size: 24px;
    font-family: "Ostrich_Sans_Black";
    cursor: pointer;
}

/* Filter */
#filters {
    margin-bottom: 25px;
}

#filters li {
    float: left;
}

#filters li:after {
    content: "/";
    color: #999;
    font-size: 32px;
}

#filters li:last-child:after {
    content: "";
}

#filters a {
    padding: 0 10px;
    color: #000;
    text-decoration: none;
    font-size: 32px;
    line-height: 44px;
}

#filters a:hover, .current a {
    color: #8B0000;
}

.element {
    background: #000;
}

.element > img:hover {
    transition: all 0.7s ease-in-out 0s;
    transform: scale(4);
}

.remove-zoom {
    transition: all 0.7s ease-in-out 0s;
    transform: scale(1);
}

.store-item {
    background: #fff;
}

.store-title {
    display: none;
    font-family: "Open_Sans_B";
    color: #000;
    font-size: 36px;
    position: absolute;
    bottom: 50px;
    left: 20px;
    transition: all 0.7s ease-in-out 0s;
    vertical-align: middle;
}

.height-01 .store-subtitle {
    display: none;
    font-family: "Open_Sans_B";
    color: #000;
    font-size: 24px;
    position: absolute;
    top: 150px;
    transition: all 0.7s ease-in-out 0s;
    vertical-align: middle;
    text-align: center;
    width: 260px;
}

.height-01 .icon-zoom-sosa {
    position: absolute;
    left: 70px;
    top: 70px;
    font-family: "sosa";
    font-size: 36px;
    color: #fff;
    background: url('../images/zoom.png') no-repeat center center;
}

.height-01 .icon-link-sosa {
    position: absolute;
    left: 130px;
    top: 70px;
    font-family: "sosa";
    font-size: 36px;
    color: #fff;
    background: url('../images/info.png') no-repeat center center;
}

.height-02 .store-subtitle {
    display: none;
    font-family: "Open_Sans_B";
    color: #000;
    font-size: 24px;
    position: absolute;
    top: 200px;
    transition: all 0.7s ease-in-out 0s;
    vertical-align: middle;
    text-align: center;
    width: 260px;
}

.height-02 .icon-zoom-sosa {
    position: absolute;
    left: 70px;
    top: 120px;
    font-family: "sosa";
    font-size: 36px;
    color: #fff;
    background: url('../images/zoom.png') no-repeat center center;
}

.height-02 .icon-link-sosa {
    position: absolute;
    left: 130px;
    top: 120px;
    font-family: "sosa";
    font-size: 36px;
    color: #fff;
    background: url('../images/info.png') no-repeat center center;
}

.store-trigger-icon {
    display: none;
    position: absolute;
    width: 60px;
    height: 60px;
}

.store-trigger-icon:hover {
    opacity: 0.7;
}

h1, h2 {
    font-family: "Matchbook", 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 0px, auto;
}

.store-link {
    font-family: Matchbook;
}

.store-tag {
    font-family: Rocket;
    font-size: 32px;
    margin-left: 10px;
    color: #8B0000;
}

#address-block p {
    color: #FFF;
}

#address-block li {
    color: #FFF;
}

.medium-para {
    font-size: 40px;
    line-height: 51px;
}

.songs {
    vertical-align: bottom;
    float: none;
}
