template(name="store")
    section.container.page-layout
        div.row.add-top-main
            article#store.col-md-12.outer-wrap
                div.story
                    div.row
                        article.col-md-12.add-top
                            h2.main-heading-inner-inv
                                span Store

                    section.row.add-bottom
                            p#work-intro.col-md-offset-1.col-md-12.medium-para.mayday-red-txt.pad-top.pad-bottom.
                                Buy our new Album on Bandcamp, iTunes, or Amazon.  You decide!
                    section.row
                        div.col-md-12.spacer-md
                    div.row.songs
                        article.col-md-offset-3
                            a.btn(href="https://itunes.apple.com/us/artist/mayday-red/id585252303") Bandcamp
                            a.btn(href="https://itunes.apple.com/us/artist/mayday-red/id585252303") iTunes
                            a.btn(href="https://itunes.apple.com/us/artist/mayday-red/id585252303") Amazon

