<template name="store">
    <section class="container page-layout">
        <div class="row add-top-main">
            <article id="store" class="col-md-12 outer-wrap">
                <div class="story">

                    <div class="row">
                        <article class="col-md-12 add-top">
                            <h2 class="main-heading-inner-inv"><span>Store</span></h2>
                        </article>
                    </div>

                    <section class="row add-bottom">
                        <!--<p id="work-intro" class="col-md-12 medium-para mayday-red-txt pad-top pad-bottom">
                            Music, Apparel, and even a Mayday RED drink<br><br> Enjoy!
                        </p>-->
                        <p id="work-intro" class="col-md-offset-1 col-md-12 medium-para mayday-red-txt pad-top pad-bottom">
                            You can buy our new Album one at a time or all at once.  You decide!
                        </p>
                    </section>
                    <section class="row">
                        <div class="col-md-12 spacer-md"></div>
                    </section>
                    <div class="row songs">
                        <article class="col-md-offset-3">
                            <div class="simpleCart_shelfItem col-md-2">
                                <p><a class="item_add" href="javascript:;"><img src="images/songs/the_covers.jpg"></a>
                                <div class="item_name">The Covers - album</div><div class="item_price">$6.89</div></p>
                            </div>
                            <div class="simpleCart_shelfItem col-md-2">
                                <p><a class="item_add" href="javascript:;"><img src="images/songs/stratosphere.jpg"></a>
                                <div class="item_name">Stratosphere - single</div><div class="item_price">$1.29</div></p>
                            </div>
                            <div class="simpleCart_shelfItem col-md-2">
                                <p><a class="item_add" href="javascript:;"><img src="images/songs/get_over_it.jpg"></a>
                                <div class="item_name">Get Over It - single</div><div class="item_price">$1.29</div></p>
                            </div>
                        </article>
                        <!--<article>
                            {{> paypalCreditCardForm }}
                        </article>-->
                    </div>
                    <section class="row">
                        <div class="col-md-12 spacer-xs"></div>
                    </section>
                    <div class="row button-group">
                        <article class="col-md-offset-3">
                            <div class="btn btn-default">
                                <span class="simpleCart_quantity"></span><span class="store-text"> items - </span><span class="simpleCart_total"></span>
                                <a href="javascript:;" class="simpleCart_checkout">Checkout</a>  <i class="fa fa-shopping-cart"></i>
                            </div>
                            <section class="inner-row">
                                <div class="col-md-12 spacer-xs"></div>
                            </section>
                            <div>
                                <a href="javascript:;" class="simpleCart_empty btn btn-default store-text">Empty Checkout Cart</a>
                            </div>
                        </article>
                    </div>
                </div>
                {{> UI.dynamic template=paypalReturn}} 
                <!--.story-->
            </article>
        </div>
    </section>
</template>
