<template name="home">
    <section class="container page-layout">
        <div class="row add-top-main">

            <article id="videos" class="col-md-12 outer-wrap">
                <div class="story add-top">
                    <div class="row">
                        <article class="col-md-12">
                            <div id="welcome">
                                <h1 class="main-heading white-txt remove-bottom">Mayday RED</h1>
                                <!--<h3 class="main-heading-alt white-txt remove-top text-left"><span class="color-high">Creative Parallax Responsive Portfolio</span></h3>-->

                                <!--
                <div class="row-fluid">
                <article id="ticker" class="query span6"></article>
                </div>
                -->
                                <div id="wrapper">
                                    {{> videoSlider }}
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </article>

        </div>
    </section>
</template>