#videos {
    background: url(../../../images/bg/videos.jpg) 50% -75px no-repeat fixed;
    color: white;
    min-height: 860px;
    margin: 0 auto;
    /*box-shadow:0 0 16px 0 rgba(0, 0, 0, 0.9);*/
}

#wrapper {
    height: 745px;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* Anything-slider CSS */
div.anythingControls {
    bottom: 50px;
}

.anythingSlider-metallic .thumbNav a {
    background-image: url();
    height: 30px;
    width: 30px;
    border: #000 1px solid;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    text-indent: 0;
}

.anythingSlider-metallic .thumbNav a span {
    visibility: visible;
}

.anythingSlider-metallic .thumbNav a:hover, .anythingSlider-metallic .thumbNav a.cur {
    border-color: #fff;
}

.anythingSlider-metallic .start-stop {
    margin-top: 35px;
}

#welcome {
}

#welcome h1 {
    font-family: Rocket;
    margin-top: 50px;
    color: #8B0000;
}

#welcome p {
    font-family: "Open_Sans_R";
    font-size: 16px;
    line-height: 21px;
    font-weight: normal;
}
