template(name="band")
    section.container.page-layout
        div.row.add-top-main
            article#band.col-md-12.outer-wrap
                div.story
                    div.bg.hidden-phone
                    div.row
                        article.col-md-4.col-md-offset-8.add-top
                            h2.main-heading-inner
                                span Band
                            div.row
                                article.col-md-12.sidebarright.text-right
                        article.col-md-4.col-md-offset-4.about-band
                            p.medium-para.
                                We're back! And we're the band Mayday RED. Why the name you ask? We
                                published our first video May 1, 2012 and recorded numerous covers for over a year.

                            p.medium-para.
                                Somewhere along the way, we realized we like our own sound and our
                                own music better than covering somebody else. So here you have it. Our first album with
                                a few of our favorite covers from the past.

                            p.medium-para Enjoy :-)
