#band 
    background url(../../../images/bg/band.jpg) 50% 0 no-repeat fixed
    color white
    min-height 936px
    margin 0 auto
    overflow hidden
    /*box-shadow:0 0 16px 0 rgba(0, 0, 0, 0.9);*/

/*
#band .bg{
	background: url(../images/bg/02a.png) 50% 0 no-repeat fixed;
	min-height: 1300px;
	margin: 0 auto;
	position: absolute;
	width: 900px;
	z-index: 200;
}
*/

.about-band 
    background rgba(240, 230, 220, .80)
    color white
    border-radius 5px
    -moz-border-radius 5px
    -webkit-border-radius 5px
    padding 20px
    font-family Matchbook
