<template name="band">
    <section class="container page-layout">
        <div class="row add-top-main">

            <article id="band" class="col-md-12 outer-wrap">
                <div class="story">
                    <div class="bg hidden-phone"></div>

                    <div class="row">
                        <article class="col-md-4 col-md-offset-8 add-top">
                            <h2 class="main-heading-inner"><span>Band</span></h2>
                            <div class="row">
                                <article class="col-md-12 sidebarright text-right"></article>
                            </div>
                        </article>
                        <article class="col-md-4 col-md-offset-4 about-band">
                            <p class="medium-para">We're back!  And we're the band Mayday RED.  Why the name you ask?  We published our first video May 1, 2012 and recorded numerous covers for over a year.</p>
                            <p class="medium-para">Somewhere along the way, we realized we like our own sound and our own music better than covering somebody else.  So here you have it.  Our first album with a few of our favorite covers from the past.</p>
                            <p class="medium-para">Enjoy :-)</p>
                        </article>
                    </div>

                </div>
                <!--.story-->
            </article>

        </div>
    </section>
</template>