/* CSS declarations go here */
h1, h2 {
  font-family: "Sparkly", 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 0px, auto;
}

#wrapper {
  height:745px;
  margin-top:40px;
  margin-bottom: 40px;
}

/* Anything-slider CSS */
div.anythingControls {
    bottom: 50px;
}

.anythingSlider-metallic .thumbNav a {
    background-image: url();
    height: 30px;
    width: 30px;
    border: #000 1px solid;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    text-indent: 0;
}

.anythingSlider-metallic .thumbNav a span {
    visibility: visible;
}

.anythingSlider-metallic .thumbNav a:hover, .anythingSlider-metallic .thumbNav a.cur {
    border-color: #fff;
}

.anythingSlider-metallic .start-stop {
    margin-top: 35px;
}

/* Band page specific CSS */
.about-band {
  background: rgba(240,230,220, .7);
  color: white;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 20px;
  font-family: Cherry_Cream;
}

.store-link {
  font-family: Sparkly;
}

.store-tag {
  font-family: Rocket;
  font-size: 32px;
  margin-left: 10px;
  color: #8B0000;
}

#address-block p {
  color:#FFF;
}

#address-block li {
   color:#FFF;
}
