<template name="contactUs">
    <section class="container page-layout">
        <div class="row add-top-main">

            <article id="contact-us" class="col-md-12 outer-wrap">
                <div class="story">
                    <div class="bg"></div>

                    <div class="row">

                        <article class="col-md-6 col-md-offset-6 add-top">
                            <h2 class="main-heading-inner"><span>Contact</span></h2>

                            <div class="add-top">
                                <form name="contactForm" id="contactForm" action="#contact-us"
                                      enctype="multipart/form-data" method="post">

                                    <article>
                                        <label class="contact-form-label">
                                            <span id="fname" class="error">Please enter your Name</span>
                                        </label>
                                        <input type="text" name="name" id="name" class="text-field" placeHolder="Name"
                                               required/>
                                    </article>

                                    <article>
                                        <label class="contact-form-label">
                                            <span id="fmail" class="error">Please enter a valid Email</span>
                                        </label>
                                        <input type="email" name="email" id="email" class="text-field"
                                               placeHolder="Email" required/>
                                    </article>

                                    <article>
                                        <label class="contact-form-label">
                                            <span id="fmsg" class="error">Please enter your Message</span>
                                        </label>
                                        <textarea name="message" required id="msg" class="text-field"
                                                  placeHolder="Message"></textarea>
                                    </article>

                                    <article id="submit-form">
                                        <button class="contact-btn btn btn-default contact-btn" 
                                                id="submit">Send Message
                                        </button>
                                        <div id="show-message">{{{message}}}</div>
                                    </article>
                                </form>
                            </div>

                            <article class="row">
                                <ul class="contact col-md-6">
                                    <li class="contact-first color-high"><a
                                            href="http://www.facebook.com/MaydayRedMusic"><i class="fa fa-facebook-square"></i><span>Mayday RED
                    </span></a></li>
                                    <!--<li class="color-high"><a href="#"><i class="foundation-social">c</i><span>Feed Streams</span></a></li>-->
                                </ul>
                                <ul class="contact col-md-6">
                                    <li class="contact-first color-high"><a
                                            href="http://www.twitter.com/MaydayRedMusic"><i class="fa fa-twitter-square"></i><span>@MaydayRedMusic
                    </span></a></li>
                                    <!--<li class="color-high"><i class="foundation-social">r</i><span>Talk to me</span></li>-->
                                </ul>
                            </article>

                            <article id="address-block" class="row">
                                <p class="col-md-6">
                                    <i class="fa fa-envelope-o"></i>
                                    225 N. 100 W.<br/>
                                    Santaquin UT, 84655<br/>
                                    United States
                                </p>
                                <ul class="contact-icons col-md-6">
                                    <li><i class="fa fa-icon-envelope-alt"></i>rachelannkoller@gmail.com</li>
                                    <li><i class="fa fa-icon-mobile-phone"></i>+01-801-623-1490</li>
                                    <!--<li><span class="foundicon-edit"></span>+01-234-5678</li>-->
                                </ul>
                            </article>

                        </article>
                    </div>
                </div>
                <!--.story-->
            </article>
        </div>
    </section>
</template>
